extends ../layout
block corpo
    h1.page-header Nova Tabela de Seleção
    #selecao
        .row
            table
                tr
                    td(style="width:10%")
                        label Designação: 
                    td(style="width:80%")
                        input(
                            size="70"
                            v-model="name"
                        )
        br

        .row
            custom-table-waterfall(
                v-if="ready"

                pages-on="true"
                select-on="true"

                :header="tableHeader"
                :complete-rows="tableData"
                :cwidth="cwidth"
                :n-edits="nEdits"
                
                table-class='table table-hover'
                
                @drop-clicked="dropClicked($event)"
                @select-clicked="selectClicked($event)"
            )
            h4(
                v-else
            ) A carregar...

        .row
            button(
                @click="createSelTab"
            ) OK
            | {{ message }}
            
    //-
append scripts    
    script(src="/javascripts/tabsSel/adicao.vue")