extends ../layout 
block corpo
    #tabs
        .titlebox
            | Tabela de Seleção {{ entidade.nome }}
        
        tabs(:value="activeTab" @input="inputed($event)")
            //- PROCESSOS COMUNS
            tab(header="Processos Comuns" ref="tab1")
                .textbox
                    | A partir da lista de processos comuns (passíveis de existirem em qualquer 
                    | entidade) identifique a natureza de intervenção da sua entidade, como dono 
                    | ou participante, em cada processo de negócio.

                
                .infobox(style="margin-top:10px")
                    b Lista Consolidada - Processos Comuns

                div(style="float:right")
                    button(@click="clean(0)") 
                        | Limpar Seleção

                #tabela(style="margin-top:30px")
                    custom-table-waterfall(
                        v-if="ready"

                        select-on="true"

                        suffix="common"

                        :header="tableHeader"
                        :complete-rows="commonProcs"
                        :cwidth="cwidth"
                        :n-edits="nEdits"
                        
                        table-class='table table-hover'
                        
                        @select-clicked-common="selectClicked($event, commonProcs)"
                    )
                    h4(
                        v-else
                    ) A carregar...


            //-PROCESSOS ESPECÍFICOS
            tab(header="Processos Específicos" ref="tab2")
                .textbox
                    | Selecione a tipologia de entidade a que pertence.

                div(style="margin-top:10px")
                    custom-table-select(
                        v-if="tipolsReady"

                        :header="tipolsTableHeader"
                        :complete-rows="tipolList"
                        :ready="tipolsReady"
                        :cwidth="tipolsTableWidth"
                        
                        class-table='table table-condensed'

                        @select-clicked="tipolSelected($event)"
                    )
                    h4(
                        v-else
                    ) A carregar...

                .textbox(style="margin-top:30px")
                    | Assinale na lista apresentada a natureza da intervenção da entidade, 
                    | na qualidade de Dono e/ou Participante


                
                .infobox(style="margin-top:10px")
                    b Lista Consolidada - Seleção por entidade e tipologia

                div(style="float:right")
                    button(@click="clean(1)") 
                        | Limpar Seleção

                #tabela(style="margin-top:30px")
                    custom-table-waterfall(
                        v-if="specReady && myTipolList.length"

                        select-on="true"
                        
                        suffix="specific"

                        :header="tableHeader"
                        :complete-rows="specificProcs"
                        :cwidth="cwidth"
                        :n-edits="nEdits"
                        
                        table-class='table table-hover'
                        
                        @select-clicked-specific="selectClicked($event, specificProcs)"
                    )
                    h4(
                        v-else
                    ) Nenhuma tipologia selecionada...


            //-PROCESSOS RESTANTES
            tab(header="Processos Restantes" @click="activeTab=1")
                .textbox
                    | Selecione na lista de processos de negócio específicos restantes 
                    |aqueles em que a sua entidade intervém e assinale a natureza da 
                    |intervenção, na qualidade de Dono e/ou Participante
                
                .infobox(style="margin-top:10px")
                    b Lista Consolidada - Processos Específicos Restantes

                div(style="float:right")
                    button(@click="clean(2)") 
                        | Limpar Seleção

                #tabela(style="margin-top:30px")
                    custom-table-waterfall(
                        v-if="restReady"

                        select-on="true"
                        
                        suffix="rest"

                        :header="tableHeader"
                        :complete-rows="restProcs"
                        :cwidth="cwidth"
                        :n-edits="nEdits"
                        
                        table-class='table table-hover'
                        
                        @select-clicked-rest="selectClicked($event, restProcs)"
                    )
                    h4(
                        v-else
                    ) A carregar...

        center
            button.next(
                v-if="activeTab>=0"
                @click="activeTab--" 
                :disabled="activeTab<=0"
                style="margin-right:10px"
            ) <
            button(@click="saveInfo") Guardar
            button.next(
                v-if="activeTab<=2"
                @click="activeTab++" 
                :disabled="activeTab>=2"
                style="margin-left:10px"
            ) >
        

        button(
            style="float:left"
            @click="loadSavedInfo" 
        ) Carregar Seleção Guardada
        
        div(style="float:right")
            button(
                style="float:right"
                @click="createSelTab(0)" 
            ) Submeter

            

        modal(
            title="Confirmar" 
            :value="createConfirm"
            @closed="createConfirm=false"

            medium
        ) 
            .modal-body(slot="modal-body")
                div(v-html="message")
            .modal-footer(slot="modal-footer")
                button(@click="createSelTab(1)" style="margin-right:7px") Continuar
                button(@click="createConfirm=false") Voltar à seleção

        //-    input.btn.btn-xs.btn-danger(
                v-if="createConfirm"
                type="button" 
                @click="createSelTab(1)" 
                value="OK" 
            )
            input.btn.btn-xs.btn-info(
                v-if="createConfirm"
                type="button" 
                @click="createConfirm=!createConfirm" 
                value="<-" 
            )
                
        spinner(ref="spinner" size="lg" fixed text="A criar Tabela de Seleção... Por favor aguarde...")        
append scripts
    script(src="/javascripts/tabsSel/escolha_processos.vue")


    