extends ../layout
block corpo
    #profile.panel.panel-default.panel-custom
        .panel-heading
            h1.page-header #{user.name}  
        .panel-body
            .form-group
                table.consulta(width="100%")
                    //-NOME
                    tr
                        td(style="width:10%")
                            label Nome: 
                        td(v-if="edit.Name" style="width:80%")
                            input(
                                size="50"
                                v-model="newName"
                                placeholder="João Neves"
                            )
                        td(v-else style="width:80%")
                            | #{user.name}
                        //td(style="width:10%")
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="edit.Name"
                            )

                    //-EMAIL
                    tr
                        td(style="width:10%")
                            label Email: 
                        td(v-if="edit.Email" style="width:80%")
                            input(
                                size="50"
                                v-model="newEmail"
                                placeholder="joao_neves@gmail.com"
                            )
                        td(v-else style="width:80%")
                            | #{user.email}
                        //td(style="width:10%")
                            label(style="padding-right:5px") Editar
                            input(
                                type="checkbox"
                                v-model="edit.Email"
                            )

                    //-PEDIDOS
                    tr
                        td(style="width:10%")
                        
                        td(style="width:80%" v-if="pedidos.length").noborder
                            hidden-table(
                                v-if="pedidosReady"

                                titulo="Pedidos"
                                :cabecalho='["Nº","Tipo","Descrição","Data de Submissão",""]'
                                :linhas="pedidos"
                                
                                open
                            )

                        td(v-else)
                            | Sem pedidos por verificar
                        td

                    //-TRABALHO GUARDADO
                    tr
                        td(style="width:10%")

                        td(style="width:80%").noborder
                            hidden-table(
                                v-if="trabalhosReady"

                                titulo="Trabalho Pendente"
                                :cabecalho='["Data","Tipo",""]'
                                :linhas="trabalhos"
                                
                                open
                            )

                        td

                    //-PASSWORD
                    //tr
                        td(style="width:10%")
                            label Password: 
                        td(v-if="edit.Password" style="width:80%" colspans=2)
                            input(
                                size="50"
                                v-model="newPassword"
                            )
                            br
                            input(
                                size="50"
                                v-model="newPassword2"
                            ) 
                            | {{ passMessage }}
                            br
                            button(
                                @click="edit.Password=!edit.Password"
                            ) Cancelar
                        td(v-else style="width:80%" colspans=2)
                            button(
                                @click="edit.Password=!edit.Password"
                            ) Alterar Password

                //input.btn.btn-xs.btn-default.col-sm-1(
                    @click="update"
                    type="button" 
                    value="Confirmar" 
                    :disabled="!checkready()"
                 )

append scripts    
    script(src="/javascripts/users/perfil.vue")